/*--------------------------------
 # 共通部分
---------------------------------*/
h1 {
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.13px;
}
  
h2 {
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}
  
h3 {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.04px;
}
  
big {
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.08px;
}
  
body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.11px;
}
  
caption {
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.08px;
}
  
label {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #191919;
}


/*--------------------------------
 # ヘッダー部分
---------------------------------*/
.header-container {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.header-search-input {
    border: solid 1px #e5e5e5;
}

.navbar .btn.header-search-button {
    background-color: #0fbe9f;
}

.header-search-icon {
    color: #ffffff;
}

.header-fav-icon {
    color: #191919;
}

.header-shoppingcart-icon {
    color: #ffffff;
}


/*--------------------------------
 # 認証画面
---------------------------------*/
.login-input {
    border-radius: 2px;
    border: solid 1px #b2b2b2;
    background-color: #ffffff;
}

.check-label {
    
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.require-input-label {
    border-radius: 1px;
    background-color: #e2001b;
}

.require-input-label-text {
    
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.btn.submit-button {
    
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    background-color: #0fbe9f;
}

.login-text {
    
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0fbe9f;
}

/*--------------------------------
 # トップページ
---------------------------------*/
.restaurant-image-link:hover {
    opacity: 0.6;
}


/*--------------------------------
 # 店舗一覧画面
---------------------------------*/
.sidebar-category-label {
    width: 156px;
    height: 20px;
    
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #191919;
}


/*--------------------------------
 # 店舗詳細画面
---------------------------------*/
.btn.favorite-button {
    border-radius: 2px;
    border: solid 1px #0fbe9f;
    background-color: #ffffff;
}

.btn.text-favorite {
    color: #0fbe9f;
}

/* テーブル */
#restaurant-table {
    width: 100%;
}

.tableheader {
    text-align: left;
    padding: 20px;
    border-bottom-color: #0fbe9f;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width: 100px;
    background-color: #E5F4F1;
}

.tableheader-first {
    text-align: left;
    padding: 20px;
    border-bottom-color: #0fbe9f;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-color: #0fbe9f;
    border-top-width: 1px;
    border-top-style: solid;
    width: 100px;
    background-color: #E5F4F1;
}

.cell {
    padding: 30px;
    border-bottom-color: #ececec;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.cell-first {
    padding: 30px;
    border-bottom-color: #ececec;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-color: #ececec;
    border-top-width: 1px;
    border-top-style: solid;
}


/*--------------------------------
 # お気に入りページ
---------------------------------*/
.favorite-add-cart {
    border-radius: 2px;
    color: #ffffff;
    background-color: #0fbe9f;
}


/*--------------------------------
 # プロフィール画面
---------------------------------*/
/* プロフィール画像部分 */
.profile-icon {
    width: 90px;
    height: 90px;
    border: 2px solid #ddd;
    border-radius: 50%;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #aaaaaa;
    font-size: 50px;
}

/* メダルカラー部分 */
.medal-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color:#212121; 
    text-align: center;
    line-height: 30px;
    border: 1px solid #D0D0D0;
}

.medal-color-platinum {
    background: linear-gradient(45deg, #A8A8A8 0%, #F1F1F1 40%, #FFFFFF 60%, #F1F1F1 80%, #A8A8A8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.medal-color-gold {
    background: linear-gradient(45deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.medal-color-silver {
    background: linear-gradient(0deg, #757575 0%, #9E9E9E 45%, #E8E8E8 70%, #9E9E9E 85%, #757575 90% 100%); 
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.medal-color-bronze {
    background: linear-gradient(45deg, #a57e65 0%, #a57e65 45%, #f3cfb8 70%, #a57e65 85%, #a57e65 90% 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.medal-color-green {
    color: green;
}