/*--------------------------------
 # 共通部分
---------------------------------*/
h1 {
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.13px;
}
  
h2 {
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}
  
h3 {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.04px;
}
  
big {
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.08px;
}
  
body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.11px;
}
  
caption {
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.08px;
}
  
label {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #191919;
}


/*--------------------------------
 # ヘッダー部分
---------------------------------*/
.header-container {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.header-search-input {
    border: solid 1px #e5e5e5;
}

.navbar .btn.header-search-button {
    background-color: #0fbe9f;
}

.header-search-icon {
    color: #ffffff;
}

.header-fav-icon {
    color: #191919;
}

.header-shoppingcart-icon {
    color: #ffffff;
}


/*--------------------------------
 # 認証画面
---------------------------------*/
.login-input {
    border-radius: 2px;
    border: solid 1px #b2b2b2;
    background-color: #ffffff;
}

.check-label {
    
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.require-input-label {
    border-radius: 1px;
    background-color: #e2001b;
}

.require-input-label-text {
    
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.btn.submit-button {
    
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    background-color: #0fbe9f;
}

.login-text {
    
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0fbe9f;
}

/*--------------------------------
 # トップページ
---------------------------------*/
.image-container {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
}

.image-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 検索欄 */
.search-container {
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    background-color: #ffffff;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* モバイルビュー用のスタイル */
@media (max-width: 767px) {
    .search-container {
        display: none;
    }
}

@media (min-width: 768px) {
    div > .search-modal-link {
        display: none;
    }
}

.search-input, .search-select {
    margin: 0;
    flex: 1 1 20%;
    padding: 10px;
    border: 1px solid #e0e0e0;
}

.search-input, .search-select, .search-button {
    box-sizing: border-box;
    width: calc(100% / 5);
}

input[type="date"].search-input {
    font-size: 12px;
}

.search-button {
    background-color: #0fbe9f;
    color: #ffffff;
    padding: 10px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    writing-mode: horizontal-tb;
}

/* 料理ジャンルから探す */
.restaurant-image-link:hover {
    opacity: 0.6;
}

.restaurant-image-link span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    white-space: nowrap;
    text-align: center;
}

@media (min-width: 576px) and (max-width: 767px) {
  .restaurant-image-link span {
    font-size: 10px;
  }
}

@media (max-width: 575px) {
  .restaurant-image-link span {
    font-size: 8px;
  }
}

/* おすすめ店舗欄 */
/* 注目の店舗欄 */
.recommend-restaurant-name {
    font-size: 10px;
    color: #1E90FF;
    font-weight: bold;
    margin-inline-start: 8px;
}

.recommend-restaurant-information {
    font-size: 8px;
    color: gray;
    margin-bottom: 0;
    margin-left: 8px;
}

.recommend-average-rating-star {
    margin-inline-start: 8px;
    display: inline-flex;
    align-items: center;
    line-height: 1;
}

.recommend-average-rating-star > span {
    font-size: 9px;
}

.recommend-average-rating-number {
    margin-bottom: 0;
    margin-left: 8px;
    color: red;
    font-weight: bold;
    vertical-align: middle;
    font-size: 9px;
    display: inline-flex;
    align-items: center;
    line-height: 1;
}

@media (min-width: 768px) {
    .recommend-restaurant-name {
        font-size: 16px;
    }

    .recommend-average-rating-star > span {
        font-size: 14px;
    }

    .recommend-average-rating-number {
        font-size: 14px;
    }

    .recommend-restaurant-information {
        font-size: 12px;
    }
}

/* 人気ユーザー欄 */
#small-profile-image-container {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #f0f0f0;
}

.small-profile-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.small-profile-icon {
    font-size: 4vw;
}

.popular-user-name {
    font-size: 10px;
    margin-inline-start: 6px;
    margin-inline-end: 4px;
}

.popular-user-information {
    font-size: 8px;
    margin-left: 6px;
    color: gray;
    margin-bottom: 0;
}

.popular-user-ranking {
    font-size: 8px;
}

#restaurant-image-container {
    width: 100%;
    height: 100%;
}

.popular-user-restaurant-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popular-user-restaurant-name {
    font-size: 10px;
    color: #1E90FF;
    font-weight: bold;
    margin-left: 8px;
}

.popular-user-restaurant-station {
    font-size: 8px;
    margin-left: 8px;
}

.restaurant-average-rating-star {
    margin-inline-start: 8px;
    display: inline-flex;
    align-items: center;
    line-height: 1;
}

.restaurant-average-rating-star > span {
    font-size: 8px;
}

.restaurant-average-rating-number {
    margin-bottom: 0;
    margin-left: 8px;
    color: red;
    font-weight: bold;
    vertical-align: middle;
    font-size: 8px;
    display: inline-flex;
    align-items: center;
    line-height: 1;
}

@media (min-width: 768px) and (max-width: 991px) {
    .small-profile-icon {
        font-size: 4vw;
    }

    .popular-user-name {
        font-size: 18px;
        margin-inline-start: 12px;
        margin-inline-end: 12px;
    }

    .popular-user-information {
        font-size: 15px;
        margin-left: 12px;
    }

    .popular-user-ranking {
        font-size: 15px;
    }

    .popular-user-restaurant-name {
        font-size: 18px;
    }

    .popular-user-restaurant-station {
        font-size: 15px;
    }

    .restaurant-average-rating-star > span {
        font-size: 14px;
    }

    .restaurant-average-rating-number {
        font-size: 14px;
    }
}

@media (min-width: 992px) {
    .small-profile-icon {
        font-size: 2vw;
    }

    .popular-user-name {
        font-size: 12px;
    }

    .popular-user-information {
        font-size: 10px;
    }

    .popular-user-ranking {
        font-size: 10px;
    }

    .popular-user-restaurant-name {
        font-size: 14px;
    }

    .popular-user-restaurant-station {
        font-size: 12px;
    }

    .restaurant-average-rating-star > span {
        font-size: 14px;
    }

    .restaurant-average-rating-number {
        font-size: 14px;
    }
}


/*--------------------------------
 # 店舗一覧画面
---------------------------------*/
.sidebar-category-label {
    width: 156px;
    height: 20px;
    
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #191919;
}


/*--------------------------------
 # 店舗詳細画面
---------------------------------*/
.btn.favorite-button {
    border-radius: 2px;
    border: solid 1px #0fbe9f;
    background-color: #ffffff;
}

.btn.text-favorite {
    color: #0fbe9f;
}

/* テーブル */
#restaurant-table {
    width: 100%;
}

.tableheader {
    text-align: left;
    padding: 20px;
    border-bottom-color: #0fbe9f;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width: 100px;
    background-color: #E5F4F1;
}

.tableheader-first {
    text-align: left;
    padding: 20px;
    border-bottom-color: #0fbe9f;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-color: #0fbe9f;
    border-top-width: 1px;
    border-top-style: solid;
    width: 100px;
    background-color: #E5F4F1;
}

.cell {
    padding: 30px;
    border-bottom-color: #ececec;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.cell-first {
    padding: 30px;
    border-bottom-color: #ececec;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-color: #ececec;
    border-top-width: 1px;
    border-top-style: solid;
}


/*--------------------------------
 # 予約確認画面
---------------------------------*/
.main-header {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
}

.reservation-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    overflow: hidden;
}

.reservation-header {
    font-size: 20px;
    font-weight: bold;
    background-color: #f9f9f9;
    padding: 10px 20px;
    border-bottom: 1px solid #e0e0e0;
}

.reservation-table {
    width: 100%;
    border-collapse: collapse;
}

.reservation-label {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    width: 40%
}

.reservation-value {
    font-size: 16px;
    padding: 10px 20px;
}


/*--------------------------------
 # お気に入りページ
---------------------------------*/
.favorite-add-cart {
    border-radius: 2px;
    color: #ffffff;
    background-color: #0fbe9f;
}


/*--------------------------------
 # プロフィール画面
---------------------------------*/
/* プロフィール画像部分 */
#profile-image-container {
    width: 100px;
    height: 100px;
    border: 3px solid #ddd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #f0f0f0;
}

.profile-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile-icon {
    font-size: 60px;
}

/* メダルカラー部分 */
.medal-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color:#212121; 
    text-align: center;
    line-height: 30px;
    border: 1px solid #D0D0D0;
}

.medal-color-platinum {
    background: linear-gradient(45deg, #A8A8A8 0%, #F1F1F1 40%, #FFFFFF 60%, #F1F1F1 80%, #A8A8A8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.medal-color-gold {
    background: linear-gradient(45deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.medal-color-silver {
    background: linear-gradient(0deg, #757575 0%, #9E9E9E 45%, #E8E8E8 70%, #9E9E9E 85%, #757575 90% 100%); 
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.medal-color-bronze {
    background: linear-gradient(45deg, #a57e65 0%, #a57e65 45%, #f3cfb8 70%, #a57e65 85%, #a57e65 90% 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.medal-color-green {
    color: green;
}


/* 口コミの一覧表示 */
.first-ranked {
    font-size:1.5em;
	text-align:center;
	font-weight:bold;
	color: transparent;
	background: repeating-linear-gradient(0deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%);
	-webkit-background-clip: text;
}

.second-ranked {
    font-size:1.5em;
	text-align:center;
	font-weight:bold;
	color: transparent;
	background: repeating-linear-gradient(0deg, #757575 0%, #9E9E9E 45%, #E8E8E8 70%, #9E9E9E 85%, #757575 90% 100%); 
	-webkit-background-clip: text;
}

.third-ranked {
    font-size:1.5em;
	text-align:center;
	font-weight:bold;
	color: transparent;
	background: repeating-linear-gradient(0deg, #a57e65 0%, #a57e65 45%, #f3cfb8 70%, #a57e65 85%, #a57e65 90% 100%);
	-webkit-background-clip: text;
}

.vertical-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical-text {
    writing-mode: vertical-rl;
    text-align: center;
}

.ranking-image-container {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
}

.ranking-image-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ranking-image-container img {
    transition: opacity 0.3s;
}

.ranking-image-container:hover img {
    opacity: 0.7;
}