/*--------------------------------
 # 共通部分
---------------------------------*/
h1 {
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.13px;
}
  
h2 {
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}
  
h3 {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.04px;
}
  
big {
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.08px;
}
  
body {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.11px;
}
  
caption {
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.08px;
}
  
label {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #191919;
}


/*--------------------------------
 # ヘッダー部分
---------------------------------*/
.header-container {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.header-search-input {
    border: solid 1px #e5e5e5;
}

.navbar .btn.header-search-button {
    background-color: #0fbe9f;
}

.header-search-icon {
    color: #ffffff;
}

.header-fav-icon {
    color: #191919;
}

.header-shoppingcart-icon {
    color: #ffffff;
}


/*--------------------------------
 # 認証画面
---------------------------------*/
.login-input {
    border-radius: 2px;
    border: solid 1px #b2b2b2;
    background-color: #ffffff;
}

.check-label {
    
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.require-input-label {
    border-radius: 1px;
    background-color: #e2001b;
}

.require-input-label-text {
    
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.btn.submit-button {
    
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    background-color: #0fbe9f;
}

.login-text {
    
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0fbe9f;
}
 

/*--------------------------------
 # 店舗一覧画面
---------------------------------*/
.sidebar-category-label {
    width: 156px;
    height: 20px;
    
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #191919;
}


/*--------------------------------
 # 店舗詳細画面
---------------------------------*/
.btn.favorite-button {
    border-radius: 2px;
    border: solid 1px #0fbe9f;
    background-color: #ffffff;
}

.btn.text-favorite {
    color: #0fbe9f;
}


/*--------------------------------
 # お気に入りページ
---------------------------------*/
.favorite-add-cart {
    border-radius: 2px;
    color: #ffffff;
    background-color: #0fbe9f;
}